# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Build Artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Misc
*.log
